ServiceAccountKey*
TranscriptionConfig.json

_audio
_data
_work_prose
_gushi
_work*
_materials

Player/dist
ProsePlayer/dist
node_modules
packages
bin
obj
yarn.lock
package-lock.json

*.csproj.user
*.njsproj.user
.vs
.DS_Store

media

gaudio
